<ul>
    <li><a href="{{ route('home') }}">Home</a></li>

    {% if auth().check() %}
        <li><a href="/dashboard">Dashboard</a></li>
        <li>{{ auth().user().first_name }}</li>
        <li>
            <form action="/logout" method="post">
                {{ csrf() | raw }}
                <button type="submit">Log out</button>
            </form>
        </li>
    {% endif %}

    {% if not auth().check() %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    {% endif %}
</ul>