<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if block('title') is defined %}{{ block('title') }} | {% endif %} {{ config().get('app.name') }}</title>
</head>
<body>
    {% if session().getFlashBag.get('message') is defined %}
        {{ session().getFlashBag.get('message')[0] }}
    {% endif %}

    <nav>
        {% include 'layouts/partials/navigation.twig' %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>